<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JD商品搜索</title>
    <link href="../../plugins/css/bootstrap.css"
          rel="stylesheet">
    <link href="../../plugins/bootstrap-table/bootstrap-table.min.css"
          rel="stylesheet">
    <script src="../../plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../plugins/js/bootstrap.min.js"></script>
    <script src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../plugins/bootstrap-table/bootstrap-table-locale-all.min.js"></script>
    <script th:inline="javascript">
    var username = [[${key}]];
    function change() {
    	if (username!="null"){
        	var result = document.getElementById("login");
        	result.innerHTML = username;
        }
    }
	</script>
    <script type="text/javascript">
        function tableHeight() {
        var h = $(window).height();
        return h-25;
        }
        $(window).resize(function () {
            $("#table").bootstrapTable('resetView', {
                height: tableHeight()
            });
        });
        $("#table").bootstrapTable("refresh");//表格刷新数据
        function urlHtml(all) {
            console.log(all)
            var toUrl = ""
            window.open(toUrl)
        }
        $(function() {
            <!--初始化表格的样式 -->
            $('#table').bootstrapTable({
                toolbar: '#toolbar',
               	striped: true,           //是否显示行间隔色
                cache: false,            //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,          //是否显示分页（*）
                queryParams: function (pageRequest) {
                    return pageRequest;
                },
                showToggle: true,          //是否显示详细视图和列表视图的切换按钮
                cardView: false,          //是否显示详细视图
                detailView: true,          //是否显示父子表
                //传递参数（*）
                sidePagination: "client",      //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,            //初始化加载第一页，默认第一页
                pageSize: 10,            //每页的记录行数（*）
                pageList: [10, 20, 50, 100],    //可供选择的每页的行数（*）
                showHeader: true,
                showFooter: true,
                showColumns: true,
                showRefresh: true,
                showToggle: true,
                showPaginationSwitch: true,
                showFullscreen: true,
                search: true,
                uniqueId: "goods_sku",
                showExport: true, //是否显示导出按钮
                buttonsAlign: "right", //按钮位置
                exportTypes: ['excel'], //导出文件类型
                Icons: 'glyphicon-export', 
                cardView: false,          //是否显示详细视图
                detailView: true,          //是否显示父子表
                columns : [
                    {
                    field: 'column_hidden',
                    title: '隐藏列',
                    titleTooltip: '你看不见我',
                    visible: false,
                    cardVisible: false,
                    formatter: function(value, row, index) {
                        return index;
                    }
                },{
                    field : 'goods_name',
                    title : '商品标题',
                        rowspan: 1,
                        colspan: 1,
                        align: 'left',
                        halign: 'center',
                        falign: 'right',
                        valign: 'middle',
                        sortable: true,
                        switchable: false,
                        order: 'asc',
                        sortName: 'goods_price',
                        sorter: function(a, b) {
                            return a - b;
                        },
                        cellStyle: function cellStyle(value, row, index, field) {
                            return {
                                classes: 'text-nowrap another-class',
                                css: {
                                    "color": "blue",
                                    "font-size": "15px"
                                }
                            }
                        },
                        escape: false
                    }, {
                    field : 'goods_style',
                    title : '商品颜色',
                        rowspan: 1,
                        colspan: 1,
                        align: 'left',
                        halign: 'center',
                        falign: 'right',
                        valign: 'middle'
                }, {
                    field : 'goods_sku',
                    title : '商品链接',
                        rowspan: 1,
                        colspan: 1,
                        align: 'left',
                        halign: 'center',
                        falign: 'right',
                        valign: 'middle',
                        formatter: function(value, row, index) {
                            return '<a href="javascript:void(0);" class="jd_goods">'+value+'</a>';
                        },
                		events: {
                    		'click .jd_goods': function(e, value, row, index) {
                    		var toUrl = "https://item.jd.com/"+value+".html";
                    		window.open(toUrl);
                  		}
                		}
                }, {
                    field : 'goods_price',
                    title : '商品价格',
                        rowspan: 1,
                        colspan: 1,
                        align: 'left',
                        halign: 'center',
                        falign: 'right',
                        valign: 'middle'
                } , {
                    field : 'comment_count',
                    title : '商品评论数',
                        rowspan: 1,
                        colspan: 1,
                        align: 'left',
                        halign: 'center',
                        falign: 'right',
                        valign: 'middle'
                },{
                        field: 'column_operate',
                        title: '操作',
                        align: 'left',
                        halign: 'center',
                        falign: 'right',
                        formatter: function(value, row, index) {
                            return '<a href="javascript:void(0);" class="say_hi">点我</a>';
                        },
                        events: {
                            'click .say_hi': function(e, value, row, index) {
                            	if(username!="null"){
                            	var toUrl = "comment?goodssku="+row.goods_sku;
                            	window.open(toUrl);
                            	}else{
                            		alert("请先登陆!");
                            		window.location.href="login";
                            	}
                          }
                        }
                    } ]
            });
            //为submit按钮绑定click事件,填充点击查询后的数据查询
            $("#submit").click(function() {
                $.ajax({
                	 url : '/test/queryMatchData',
                     contenType: 'application/json',
                     data : "context=" + $("#context").val(),
                     cache : false,//false是不缓存，true为缓存
                     async : true,//true为异步，false为同步
                    beforeSend : function() {
                        //请求前
                    },
                    success : function(result) {
                    	try {
                            var resultArray = new Array();
                            resultArray = JSON.parse(result);
                            console.log(resultArray);
                            $("#table").bootstrapTable('load', resultArray);
                        } catch (e) {
                            window.alert(result);
                            $("#table").bootstrapTable('load', [ {
                                "result" : "什么也没有找到"
                            } ]);
                        }
                    },
                    complete : function() {
                        //请求结束时
                    },
                    error : function() {
                        //请求失败时
                    }
                })
            });
        });
    </script>
</head>
<body>
<div class="container"
		style="text-align: center; vertical-align: middle; height: 100%; width: 100%;">
		 <div class="header" style="text-align: right;margin:10px 5px 5px auto;">
           <a href="index" id="login" style="opacity:0.6">登录</a>
            &nbsp;|&nbsp;
            <a href="index" target="_top">注册</a>
            <script type="text/javascript">
            	change();
            </script>
    </div>
		<div class="row" style="margin: 30px;">
			<!-- onsubmit设置成return false,不再显式提交form -->
			<div style="align-items: center; margin: auto; margin-bottom: 30px">
				<span style="font-family: STKaiti; color: #28a4c9"><h1>JD商品查询</h1></span>
			</div>
			<div class="col-md-8 col-md-offset-2 text-center"
				onsubmit="return false">
				<form class="form-inline">
					<div class="form-group">
						<label for="mid"></label> <input type="text" class="form-control"
							id="context" name="context" style="width: 400px; height: 50px"
							placeholder="请输入商品名称">
					</div>
					<button type="submit" id="submit" class="btn btn-primary"
						style="width: 100px; height: 50px">查询</button>
				</form>
			</div>
		</div>
		<!-- 在下一行中，添加一个bs系统自带的表格 -->
		<div class="row" style="width: 95%; margin: auto">
			<table id="table"></table>
		</div>
	</div>
</body>
</html>